.main {
  &-scroll {
    height: 100vh;
  }
  overflow: hidden;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  &Img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  strong>h1,strong>p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
  }
}


section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  display: flex;
  max-width: 1200px;

  &Video {
    width: 1200px;
  }
}

.modal {
  max-width: 1200px;

  max-height: 900px;
  background-color: #fff;
  z-index: 100;
  overflow-y: auto;
}